.landing-page {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/img/cover.jpeg');
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.background-filter {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav {
    text-align: right;
    padding: 30px;
}

.nav a {
    padding-right: 1em;
    color: #FAFAFA;
    text-decoration: none;
}

.nav a:hover {
    color: #337ab7;
    cursor: pointer;
}

.navbar-nav {
  font-size: 20px;
  max-width: 20px;
  background-color: transparent;
  margin-top: -3px;
  top: 0px;
  position: relative;
  margin-right: 3px;
}

.container {
    z-index: 2;
    position: relative;
    padding-top: 53vh;
}